In [ ]:
for i in range(1, 5):
    for j in range(i,4):
        print("-", end=" ")
    print()

- - -
- -
-

In [ ]:
for i in range(1,5):
  for j in range(i,4):
    print("-",end="")
  for k in range(i):
    print("*",end=" ")
  print()

---*
--* *
-* * *
* * * *

In [ ]:
for i in range(4,0,-1):
  for j in range(i,4):
    print(" ",end="")
  for k in range(i):
    print("*",end=" ")
  print()

* * * *
 * * *
  * *
   *

In [ ]:
for i in range(1,5):
  for j in range(1,i):
    print(" ",end="")
  for k in range(i,5):
    print("*",end=" ")
  print()

* * * *
 * * *
  * *
   *

In [ ]:
x=5
count=2
for i in range(1,x+1):
  for j in range(i,x):
    print(" ",end=" ")
  for k in range(1,count):
    print("*",end=" ")

  count+=2
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
x=5
for i in range(1,x+1):
  for j in range(i,x):
    print(" ",end=" ")
  for k in range(1,2*i):
    print("*",end=" ")
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
x=5
for i in range(x,0,-1):
  for j in range(i,x):
    print(" ",end=" ")
  for k in range(1,2*i):
    print("*",end=" ")
  print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
x=5
count=x*2
for i in range(x,0,-1):
  for j in range(i,x):
    print(" ",end=" ")
  for k in range(1,2*i):
    print("*",end=" ")
  count-=2
  print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
#pattern
#today topic List
#collect multiple value together
#,
# mutable => value change kr sakte ho
x=10
print(id(x))
x=20
print(id(x))

10751144
10751464

In [ ]:
marks=[10,54.0,90,87.9]

In [ ]:
#index position data access
marks[0]

10

In [ ]:
marks=[10,54.0,90,87.9]
marks[0:3]

[10, 54.0, 90]

In [ ]:
marks=[10,54.0,90,87.9]
marks[0]=30 #update the value of list
print(marks)

[30, 54.0, 90, 87.9]

In [ ]:
marks=[10,54.0,90,87.9]
marks.append("hey")
print(marks)

[10, 54.0, 90, 87.9, 'hey']

In [ ]:
marks=[10,54.0,90,87.9]
marks.extend("hey")  #extend(iterable)
print(marks)

[10, 54.0, 90, 87.9, 'h', 'e', 'y']

In [ ]:
marks=[10,54.0,90,87.9]
marks.extend("hey")  #extend(iterable)
marks.extend([100,"hi"])
print(marks)

[10, 54.0, 90, 87.9, 'h', 'e', 'y', 100, 'hi']

In [ ]:
marks=[10,54.0,90,87.9]
marks.insert(2,99)
print(marks)

# O(n)

[10, 54.0, 99, 90, 87.9]

In [ ]:
marks=[10,54.0,90,87.9]
marks.pop()
print(marks)

[10, 54.0, 90]

In [ ]:
marks=[10,54.0,90,87.9]
x=marks.pop()
print(marks,x)

[10, 54.0, 90] 87.9

In [ ]:
marks=[10,54.0,90,87.9,"hi"]
x=marks.pop(0)
print(marks,x)

[54.0, 90, 87.9, 'hi'] 10

In [ ]:
marks=[10,54.0,90,87.9]
marks.sort()
print(marks)

[10, 54.0, 87.9, 90]

In [ ]:
for i in "hello":
  print(i)

h
e
l
l
o

In [ ]:
data="hello"
for i in range(0,len(data)):
  print(i, data[i])

0 h
1 e
2 l
3 l
4 o

In [ ]:
data=[10,20,30,"hey",90]
for i in range(0,len(data)):
  print(i,data[i])

0 10
1 20
2 30
3 hey
4 90

In [ ]:
data=[10,20,30,90,500]
target=50
for i in range(0,len(data)):
  if(data[i]>target):
    print(data[i])

90
500

In [ ]:
data=[10,20,30,90,500]
target=50
for i in range(0,len(data)):
  if(data[i]>target):
    data[i]="hey"

  print(data[i])

10
20
30
hey
hey

In [ ]:
data=[10,20,30,90,5]
maxi=0
for i in range(0,len(data)):
  if(data[i]>maxi):
    maxi=data[i]
print(maxi)

90

In [ ]:
#find out the total of list
data = [10, 20, 30, 90, 5]
total = 0
for i in range(len(data)):
    if(data[i]):
        total = total + data[i]
    else:
        total = total

print("Total:", total)

Total: 155

In [2]:
# find the average of the list
data = [10, 20, 30, 90, 5]
total = 0
for i in range(len(data)):
    if(data[i]):
        total = total + data[i]
    else:
        total = total

print("Total:", total)
print("Average:", total/len(data))

Total: 155
Average: 31.0

In [7]:
# list middle position
data = [10, 20, 30, 40, 5]
length = 0
for i in data:
    length += 1

midindex = length // 2
print("Middle element:", data[midindex])

Middle element: 30

In [1]:
# second highest from the list
data=[10,20,30,90,5]
maxi=0
maxi2=0
for i in range(0,len(data)):
  if(data[i]>maxi):
    maxi2=maxi
    maxi=data[i]
  elif(data[i]>maxi2):
    maxi2=data[i]
print(maxi)
print(maxi2)

90
30